/* table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  color: blue;
}

td.full-score {
  color: red;
}

td {
  text-align: center;
}

th {
  width: 50%;
} */

#accessories {
  display: flex;
  flex-flow: row wrap;
}

.mouse .keyboard {
  display: flex;
  flex-flow: column;
}

h1 {
  order: -1;
  text-align: center;
  color: red;
}
.mouse {
  align-self: center;
}

ul {
  list-style: none;
}
